.swiper {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

.swiperWrapper{
    height: calc(100vh - var(--header-height)) !important;
}

.swiper-button-next,.swiper-button-prev{
    width: 50px;
    height: 50px;
}

.swiper-button-next:after,.swiper-button-prev:after{
    color: white;
}

.swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-button-next{
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    top: auto !important;
    width: var(--swiper-btn-width) !important;
    height: 70px !important;
    background-color: white;
}

.mySwiper > .swiper-button-prev{
    left: auto !important;
    position: absolute;
    bottom: 0 !important;
    right: 100px !important;
    top: auto !important;
    width: var(--swiper-btn-width) !important;
    height: 70px !important;
    background-color: white;
}

.swiper-button-next:after,.swiper-button-prev:after{
    color: #459A77;
    font-size: 20px !important;
    font-weight: bold;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}

.swiper-button-next.swiper-button-disabled:after, .swiper-button-prev.swiper-button-disabled:after{
    opacity: .6;
}

.slide-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.slide-container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.slide-learn-more{
    width: 440px;
    font-size: 72px;
    position: relative;
    left: 180px;
    font-weight: 400;
    line-height: 84px;
    color: white;
    display: grid;
    gap: 16px;
    @media (max-width: 992px) {
        font-size: 50px;
        left: 100px;
    }
}

.learn-more-span{
    color: #459A77;
    white-space: nowrap;
}

.slide-learn-more p,.learn-more-span{
    font-family: 'Tenor Sans', sans-serif;
    width: 440px;
    cursor: default;
}

.learn-more-btn{
    display: flex;
    height: 42px;
    overflow: hidden;
    cursor: pointer;
}

.learn-more-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #459A77;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 12px 30px;
    min-width: 200px;
}

.view-project{
    width: calc(var(--swiper-btn-width) * 2);
    padding-bottom: 20px;
    position: absolute;
    bottom: 85px;
    right: 0;
}

.view-project a{
    color: white;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

#arrow-svg{
    position: relative;
    top: 6px;
    transition: .1s;
}

.view-project a:hover #arrow-svg{
    top: 4px;
    transition: .1s;
}

.places-pic{
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.pp-con{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 80px 20px 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

.header-section {
    margin: 200px auto;
}

.places-title{
    font-size: 64px;
    font-weight: 400;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    margin-bottom: 24px;
    cursor: default;
}

.places-paragraph{
    max-width: 1080px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    margin: auto auto 32px;
    cursor: default;
}

.places-pics-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 60px;
}

.places-top,.places-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.places-pic-box{
    width: calc(50% - 15px);
    height: 600px;
    border-bottom: 2px solid #459A77;
    margin-top: 40px;
    padding-bottom: 20px;
    cursor: default;
    overflow: hidden;
}

.img-box{
    width: 100%;
    aspect-ratio: 1.4/1;
    overflow: hidden;
    position: relative;
}

.broshure-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1.4/1;
    background-color: rgb(0,0,0,.5);
    display: none;
    opacity: 0;
    justify-content: center;
}

.places-pic-box img{
    width: 100%;
    aspect-ratio: 1.4/1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.broshure{
    position: absolute;
    top: 300px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.broshure svg{
    margin-left: 10px;
}

.broshure path{
    color: white;
    stroke: white;
}

.broshure:hover{
    background-color: #459A77;
    border: 1px solid #459A77;
}

.places-pic-box:hover .broshure-bg{
    display: flex;
    opacity: 1;
}

.places-img-number{
    width: 60px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Tenor Sans', sans-serif;
    float: left;
}

.places-img-text{
    width: calc(100% - 70px);
    padding-top: 20px;
    float: left;
}

.place-img-title{
    font-weight: 400;
    font-size: 32px;
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 12px;
}

.place-img-paragraph{
    font-weight: 400;
    font-size: 18px;
}

.about-project{
    width: 100%;
    height: 528px;
    overflow-x: hidden;
    background: linear-gradient(70deg, white 64%, #459A77 36%);
}

.ap-con{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registration-panel{
    max-width: 440px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    cursor: default;
}

.registration-panel h1{
    width: 390px;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    font-family: 'Tenor Sans', sans-serif;
}

.checked-text{
    font-size: 13px;
    line-height: 13px;
    color: #2D374D;
    span{
        margin-left: 8px;
        &:first-child{
            margin-left: 0;
        }
    }
}

.checked-text img{
    width: 15px;
    height: 9px;
}

.book{
    position: absolute;
    top: 30px;
    right: 0;
    width: calc(100% - 600px);
    img{
        position: absolute;
        top: 0;
        left: 0;
        rotate: 6deg;
        width: 570px;
    }
}

.input-text{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid rgb(0,0,0, .35);
}

.input-text::placeholder{
    font-size: 16px;
    color: rgb(0,0,0, .35);
}

.submit{
    width: calc(100% - 186px);
    height: 42px;
    background-color: #459A77;
    border: 0;
    color: white;
    cursor: pointer;
}

.menu__submit{
    width: calc(100% - 124px);
    height: 42px;
    background-color: #459A77;
    border: 0;
    color: white;
    cursor: pointer;
}

.menu__submit::placeholder{
    font-size: 16px;
    color: rgb(0,0,0,.35);
}

.submit::placeholder{
    font-size: 16px;
    color: rgb(0,0,0,.35);
}

.input-text{
    outline: none;
}

.lower-btn-con{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.menu__lower-btn-con{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.about-project-btn{
    width: 42px;
    height: 42px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
}

.menu__about-project-btn{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu__about-project-btn i{
    font-size: 25px;
}

.telegram-btn{
    background-color: #459A77;
}

.about-project-btn svg{
    width: 21px;
    height: 21px;
}

.phone-btn svg{
    width: 16px;
    height: 16px;
}

.towers{
    width: 100%;
    background-color: white;
}

.twr-con{
    width: 100%;
    position: relative;
}

.twr-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bg-map{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.bg-map.active{
    transition: .2s;
    opacity: 1;
}

.bg-map img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.map-nav{
    padding: 10px;
    position: absolute;
    top: 30px;
    background-color: white;
    border-radius: 6px;
    display: flex;
}

.map-btn {
    border: none;
    outline: none;
    padding: 12px 60px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    margin-left: 10px;
    background-color: white;
}

.map-btn:first-child{
    margin-left: 0;
}

.map-nav > .active, .map-btn:hover {
    transition: .2s;
    background-color: #2F6D4D;
    color: white;
}

.autoSwiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 540px;
    .swiper-scrollbar-drag{
        background-color: #459A77 !important;
        border-radius: 0 !important;
    }
    .swiper-scrollbar{
        width: 100% !important;
        left: 0 !important;
        bottom: 0 !important;
        background-color: #D9D9D9 !important;
    }
}

.autoWrapper{
    width: 100%;
    height: 520px;
}

.autoSlide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoSlide .toning{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.65);
}

.autoSlide p{
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 100%;
    max-width: 680px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
}

