mixin book()
    .book-container
        .bg-tower
            picture
                source(srcset='@img/book.png' type='image/png')
                img(src='@img/book.png' alt='' draggable='false')
            .toning
        .text
            p PAY 10% <span>TO BOOK A UNIT</span>
