mixin book() 
    section.book-container 
        .book-sticky 
            img(src="@img/book.png") 
            .toning 
            .sticky-bg 
            .text 
                p PAY 10%
                | TO BOOK A UNIT