mixin broshure()
    .broshure-con#broshureContainer
        .blur.broshure-close
        .popup
            .popup__bg
                video(muted='' loop='' autoplay='')
                    source(src='./files/banner-video.mp4' type='video/mp4')
                .toning
            .popup__container
                .popup__text
                    p Have a <span>questions</span>?
                    p We would love <br />to <span>help</span>.
                .popup__panel
                    .popup-close.broshure-close
                        <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.1213 14.9995L30.5713 2.5682C30.8105 2.27676 30.9328 1.90677 30.9143 1.53019C30.8958 1.15361 30.7379 0.797372 30.4713 0.53077C30.2047 0.264168 29.8484 0.106262 29.4718 0.0877673C29.0953 0.0692722 28.7253 0.19151 28.4338 0.430705L16.0026 12.8807L3.57133 0.430705C3.27989 0.19151 2.90989 0.0692722 2.53331 0.0877673C2.15673 0.106262 1.8005 0.264168 1.53389 0.53077C1.26729 0.797372 1.10939 1.15361 1.09089 1.53019C1.0724 1.90677 1.19463 2.27676 1.43383 2.5682L13.8838 14.9995L1.43383 27.4307C1.15216 27.7151 0.994141 28.0992 0.994141 28.4995C0.994141 28.8997 1.15216 29.2838 1.43383 29.5682C1.72054 29.8454 2.10376 30.0004 2.50258 30.0004C2.9014 30.0004 3.28462 29.8454 3.57133 29.5682L16.0026 17.1182L28.4338 29.5682C28.7205 29.8454 29.1038 30.0004 29.5026 30.0004C29.9014 30.0004 30.2846 29.8454 30.5713 29.5682C30.853 29.2838 31.011 28.8997 31.011 28.4995C31.011 28.0992 30.853 27.7151 30.5713 27.4307L18.1213 14.9995Z" fill="white"/>
                        </svg>
                    img(src="@img/logo.svg").popup__logo
                    .popup-panel__container
                        p.popup-panel__title Contact us
                        label(for='popup-name') Full name
                        input#popup-name.popup__input(type='text' placeholder='Your name' name='name')
                        label(for='popup-mail') E-mail address
                        input#popup-mail.popup__input(type='text' name='mail' placeholder='Your mail')
                        label(for='popup-phone_number') Phone number
                        input#popup-phone_number.popup__input(type='tel' name='mail' placeholder='Phone number')
                        .lower-btn-con
                            input.submit(type='submit' value='Enquire')
                            a.about-project-btn
                                svg(width='19' height='16' viewbox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.01651 7.93674C2.01651 7.93674 10.5613 4.33783 13.5247 3.07057C14.6608 2.5637 18.5133 0.941596 18.5133 0.941596C18.5133 0.941596 20.2915 0.231987 20.1433 1.9554C20.0938 2.66508 19.6987 5.14882 19.3036 7.83537C18.7109 11.6371 18.0688 15.7936 18.0688 15.7936C18.0688 15.7936 17.97 16.9595 17.1304 17.1622C16.2907 17.365 14.9077 16.4526 14.6608 16.2498C14.4632 16.0978 10.9564 13.8167 9.67222 12.7015C9.32646 12.3974 8.93135 11.7892 9.72157 11.0795C11.4997 9.40676 13.6235 7.32851 14.9077 6.01059C15.5004 5.40228 16.0931 3.98299 13.6235 5.7064C10.1167 8.19021 6.65933 10.5219 6.65933 10.5219C6.65933 10.5219 5.86904 11.0288 4.38731 10.5726C2.90551 10.1164 1.1768 9.50813 1.1768 9.50813C1.1768 9.50813 -0.0085361 8.7478 2.01651 7.93674Z' fill='white')
                            a.about-project-btn
                                svg(width="20" height="21" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M0.832031 21.4015L2.33873 15.7992C1.12362 13.6168 0.737561 11.0702 1.25141 8.62658C1.76526 6.18298 3.14454 4.00633 5.13617 2.49605C7.12779 0.985768 9.59815 0.243165 12.0939 0.404509C14.5897 0.565852 16.9435 1.62032 18.7234 3.37441C20.5033 5.12851 21.5899 7.46457 21.7838 9.95392C21.9777 12.4433 21.2659 14.919 19.779 16.9266C18.2921 18.9343 16.1299 20.3394 13.6891 20.884C11.2482 21.4285 8.6926 21.0761 6.49106 19.8913L0.832031 21.4015ZM6.76393 17.7949L7.11391 18.0022C8.70853 18.9458 10.571 19.3363 12.4111 19.1128C14.2512 18.8893 15.9656 18.0644 17.2871 16.7666C18.6086 15.4688 19.4629 13.7711 19.717 11.9379C19.9711 10.1048 19.6106 8.23922 18.6918 6.63195C17.773 5.02468 16.3474 3.766 14.6372 3.05204C12.927 2.33809 11.0283 2.20898 9.23696 2.68483C7.4456 3.16067 5.86223 4.21474 4.73358 5.68278C3.60494 7.15083 2.99442 8.95037 2.99717 10.801C2.99567 12.3354 3.42075 13.8402 4.22508 15.1478L4.44456 15.509L3.60223 18.6359L6.76393 17.7949Z" fill="black" fill-opacity="0.35")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M15.2565 12.2426C15.0513 12.0774 14.8111 11.9612 14.5541 11.9027C14.2971 11.8442 14.0301 11.845 13.7735 11.9051C13.3879 12.065 13.1388 12.669 12.8897 12.9711C12.8371 13.0435 12.7599 13.0942 12.6726 13.1139C12.5852 13.1335 12.4936 13.1206 12.4151 13.0777C11.0035 12.5257 9.8203 11.5135 9.05765 10.2054C8.9926 10.1238 8.96182 10.0202 8.97178 9.91635C8.98173 9.81252 9.03166 9.71659 9.11104 9.64877C9.38891 9.37415 9.59293 9.034 9.70423 8.65979C9.72894 8.24703 9.63422 7.83588 9.43136 7.47538C9.27454 6.96996 8.97607 6.51992 8.57124 6.17844C8.36243 6.08469 8.13092 6.05325 7.90462 6.08793C7.67832 6.12261 7.4669 6.22191 7.29588 6.37387C6.99897 6.62961 6.7633 6.94858 6.60623 7.3073C6.44916 7.66602 6.37469 8.05534 6.3883 8.44659C6.38921 8.66631 6.41711 8.88508 6.47135 9.09802C6.60909 9.60963 6.82092 10.0984 7.10013 10.5489C7.30157 10.894 7.52137 11.2281 7.75857 11.5498C8.52944 12.6062 9.49846 13.5033 10.6118 14.191C11.1705 14.5405 11.7676 14.8246 12.3914 15.0379C13.0393 15.3311 13.7547 15.4436 14.4616 15.3636C14.8644 15.3027 15.246 15.144 15.5728 14.9013C15.8997 14.6586 16.1618 14.3394 16.3361 13.9719C16.4385 13.7498 16.4696 13.5016 16.4251 13.2612C16.3183 12.7697 15.6599 12.4795 15.2565 12.2426Z" fill="black" fill-opacity="0.35")
                            a.about-project-btn.phone-btn
                                svg(viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.543 11.6722L12.6957 10.0316C12.4972 9.94261 12.2793 9.90571 12.0625 9.92437C11.8458 9.94303 11.6374 10.0166 11.457 10.1382L9.39805 11.5081C8.14317 10.8987 7.12716 9.88843 6.51055 8.63705L7.87227 6.55346C7.99305 6.37289 8.06682 6.16501 8.08687 5.9487C8.10693 5.73238 8.07264 5.51448 7.98711 5.31479L6.33828 1.46752C6.22323 1.20774 6.02841 0.99136 5.78209 0.849762C5.53577 0.708165 5.25075 0.64871 4.96836 0.680021C3.8606 0.825137 2.84323 1.36758 2.10541 2.20651C1.36758 3.04543 0.959494 4.12374 0.957031 5.24096C0.957031 11.7542 6.25625 17.0535 12.7695 17.0535C13.8867 17.051 14.9651 16.6429 15.804 15.9051C16.6429 15.1673 17.1854 14.1499 17.3305 13.0421C17.3618 12.7597 17.3023 12.4747 17.1607 12.2284C17.0191 11.9821 16.8028 11.7873 16.543 11.6722Z' fill='black' fill-opacity='0.3')
        .popup-mobile
            h2 CONTACT US
            p DETAILED INFORMATION <br />ABOUT the PROJECT
            p.checked-text
                span
                    img(src='@img/checked.svg' alt='')
                    |  Lifestyle
                span
                    img(src='@img/checked.svg' alt='')
                    |  Masterplan
                span
                    img(src='@img/checked.svg' alt='')
                    |  Information about stores
            .popup-form
                input.menu__input-text(type='text' placeholder='Your name' name='name')
                input.menu__input-text(type='text' name='mail' placeholder='Your mail')
                input.menu__input-text(type='tel' name='mail' placeholder='Phone number')
            .popup-lower
                input.popup-submit(type='submit' value='Enquire')
                a.popup-btns(href='#')
                    <svg width="19" height="17" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.68448 8.06174C1.68448 8.06174 10.2292 4.46283 13.1927 3.19557C14.3288 2.6887 18.1813 1.0666 18.1813 1.0666C18.1813 1.0666 19.9594 0.356987 19.8112 2.0804C19.7618 2.79008 19.3667 5.27382 18.9716 7.96037C18.3788 11.7621 17.7368 15.9186 17.7368 15.9186C17.7368 15.9186 17.638 17.0845 16.7983 17.2872C15.9587 17.49 14.5757 16.5776 14.3288 16.3748C14.1311 16.2228 10.6244 13.9417 9.34018 12.8265C8.99443 12.5224 8.59932 11.9142 9.38954 11.2045C11.1677 9.53176 13.2915 7.45351 14.5757 6.13559C15.1684 5.52728 15.7611 4.10799 13.2915 5.8314C9.78472 8.31521 6.3273 10.6469 6.3273 10.6469C6.3273 10.6469 5.53701 11.1538 4.05528 10.6976C2.57348 10.2414 0.844764 9.63313 0.844764 9.63313C0.844764 9.63313 -0.340567 8.8728 1.68448 8.06174Z" fill="white"/>
                    </svg>
                a.popup-btns(href='#')
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.5 21.5265L2.0067 15.9242C0.791585 13.7418 0.40553 11.1952 0.919379 8.75158C1.43323 6.30798 2.81251 4.13133 4.80413 2.62105C6.79575 1.11077 9.26612 0.368165 11.7619 0.529509C14.2577 0.690852 16.6115 1.74532 18.3914 3.49941C20.1713 5.25351 21.2579 7.58957 21.4518 10.0789C21.6456 12.5683 20.9338 15.044 19.447 17.0516C17.9601 19.0593 15.7978 20.4644 13.357 21.009C10.9162 21.5535 8.36056 21.2011 6.15903 20.0163L0.5 21.5265ZM6.4319 17.9199L6.78188 18.1272C8.3765 19.0708 10.239 19.4613 12.0791 19.2378C13.9192 19.0143 15.6336 18.1894 16.9551 16.8916C18.2766 15.5938 19.1309 13.8961 19.385 12.0629C19.6391 10.2298 19.2786 8.36422 18.3598 6.75695C17.441 5.14968 16.0154 3.891 14.3052 3.17704C12.595 2.46309 10.6963 2.33398 8.90493 2.80983C7.11357 3.28567 5.5302 4.33974 4.40155 5.80778C3.27291 7.27583 2.66239 9.07537 2.66514 10.926C2.66364 12.4604 3.08872 13.9652 3.89304 15.2728L4.11253 15.634L3.2702 18.7609L6.4319 17.9199Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9245 12.3676C14.7193 12.2024 14.4791 12.0862 14.2221 12.0277C13.9651 11.9692 13.6981 11.97 13.4415 12.0301C13.0559 12.19 12.8068 12.794 12.5576 13.0961C12.5051 13.1685 12.4279 13.2192 12.3405 13.2389C12.2532 13.2585 12.1616 13.2456 12.0831 13.2027C10.6715 12.6507 9.48827 11.6385 8.72562 10.3304C8.66057 10.2488 8.62979 10.1452 8.63974 10.0414C8.6497 9.93752 8.69963 9.84159 8.77901 9.77377C9.05688 9.49915 9.2609 9.159 9.3722 8.78479C9.39691 8.37203 9.30219 7.96088 9.09933 7.60038C8.9425 7.09496 8.64404 6.64492 8.23921 6.30344C8.0304 6.20969 7.79889 6.17825 7.57259 6.21293C7.34629 6.24761 7.13487 6.34691 6.96385 6.49887C6.66694 6.75461 6.43127 7.07358 6.2742 7.4323C6.11713 7.79102 6.04266 8.18034 6.05627 8.57159C6.05718 8.79131 6.08507 9.01008 6.13931 9.22302C6.27706 9.73463 6.48888 10.2234 6.76809 10.6739C6.96954 11.019 7.18933 11.3531 7.42654 11.6748C8.19741 12.7312 9.16642 13.6283 10.2798 14.316C10.8385 14.6655 11.4356 14.9496 12.0593 15.1629C12.7073 15.4561 13.4227 15.5686 14.1296 15.4886C14.5323 15.4277 14.9139 15.269 15.2408 15.0263C15.5677 14.7836 15.8298 14.4644 16.0041 14.0969C16.1065 13.8748 16.1375 13.6266 16.093 13.3862C15.9863 12.8947 15.3278 12.6045 14.9245 12.3676Z" fill="white"/>
                    </svg>
            p.close.broshure-close close