mixin gallery()
    //#scrollbar
    //    .wrapper.d-flex.flex-nowrap
    //        section#sectionOne.section.section--large.flex-shrink-0.vw-100.vh-100.d-flex.justify-content-center.align-items-center
    //            button Button One
    //        section#sectionTwo.section.section--dark.section--small.vh-100.flex-shrink-0.d-flex.justify-content-center.align-items-center
    //            button Button Two
    //        section.section.section--small.vh-100.flex-shrink-0.d-flex.justify-content-center.align-items-center
    //            button Button Three
    //        section.section.section--large.flex-shrink-0.vw-100.vh-100.d-flex.justify-content-center.align-items-center
    //            button Button Four







    .gallery
        div.swiper.gallerySwiper
            div.swiper-wrapper

                div(draggable="false").swiper-slide.gallery-slide.first
                    .text
                        h2(draggable="false").title INTERIOR DESIGN
                        p(draggable="false").paragraph The architectural design of the building replicates a masterpiece necklace created by Fawaz Gruosi, the founder of de GRISOGONO. Unique to the design and the tower-duo is the deep, royal shade of emerald green, which will be a signature identity of this ultra-luxury residential complex.
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-2.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-3.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-4.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-5.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
                div(draggable="false").last.swiper-slide.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' alt='' draggable='false')
            div.swiper-scrollbar#gallery-scrollbar